* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
}